<header class="main-header">
    
        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>A</b>B</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>AB</b></span>
        </a>
    
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top navy">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->

              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                   
                    <span class="hidden-xs name">KR</span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header heading">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">General</a>
                              </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="#">General</a>
                            </li>
                         
                            <li class="nav-item">
                              <a class="nav-link" href="#">Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">General</a>
                              </li>
                         
                          </ul>
                     
                      <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      
                      <p>
                        Department 1
                      </p>
                        <button type=button class="btn btn-success">Enter Chat room</button>
                        
                    
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <p><span>3545657324897</span><span><i class="fa fa-phone" aria-hidden="true"></i></span></p>
                        <p><span>hfhsdf.neha</span><span><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span></p>
                        <p>Description</p>
                      <!-- /.row -->
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                      <div class="pull-left">
                        <a href="#" class="btn btn-default btn-flat">Edit</a>
                      </div>
                      <div class="pull-right">
                        <a href="#" class="btn btn-default btn-flat">Delete</a>
                      </div>
                    </li>
                  </ul>
                </li>
              <li class="dropdown messages-menu">
                <a href="#">
                <i class="fa fa-search" aria-hidden="true"></i>
                 
                </a>
               
              </li>
              <li class="dropdown messages-menu">
                <a href="#">
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
               
                 
                </a>
               
              </li>
            
              <li class="dropdown messages-menu">
                  <a href="#">
                      <i class="fa fa-bell-o" aria-hidden="true"></i>
                 
                   
                  </a>
                 
                </li>
                <li class="dropdown messages-menu">
                    <a href="#">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                   
                     
                    </a>
                   
                  </li>
                
             
          
            
            </ul>
          </div>
    
        </nav>
      </header>