.content-wrapper.wrap{
    margin:0;
}
.navbar-nav > li > a .name{
border-radius: 50%;
border: 1px solid #fff;
padding: 12px;
}
.navbar-nav > li > a > i{
    font-size: 20px;
}
.navbar-nav > li > ul > li > p > span:nth-child(2){
    float:right;
}
.navbar-nav > li > ul > li > button{
    border:none;
    outline:none;
}
.navbar-nav > li > ul > li.heading{
  height:250px;
}
.navbar-nav > .user-menu > .dropdown-menu{
    width:360px !important;
}
.main-header .logo{
    width:60px !important;
}
.main-header .navy{
    margin-left:60px;
}
