<aside class="main-sidebar left-pane"><section class="sidebar" style="height: auto;">
    <!-- Sidebar user panel -->
   
  
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-list" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
      
      <li><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-calendar-o" aria-hidden="true"></i></a></li>
      </ul>
     </section>
  </aside>
