<div class="content-wrapper wrap">
  <!-- Content Header (Page header) -->
  <section class="content-header clearfix">
    <div class="row contents">
      <div class="col-lg-10">
        <h1>
          Departments
          <small>(12)</small>
        </h1>
      </div>
      <div class="col-lg-2 right">
        <button type="button" class="btn btn-default">Select</button>
        <ul class="">

          <li>
            <a href="#">
              <i class="fa fa-th" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-list" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-arrow-up pull-right" aria-hidden="true"></i>
            </a>

            <a>
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-lg-3">
        <div class="input-group input-field">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="clear">

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">

        <div class="card">
          <div class="card-block">
            <div class="box-title clearfix">
              <div class="col-lg-3">
                <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="hi" />

                <!-- <span><i class="fa  fa-2x fa-users" aria-hidden="true"></i></span> -->
              </div>
              <div class="col-lg-8">
                <span style="font-size:23px;" class="dept">Department1</span>
              </div>
              <div class="col-lg-1">
                <span>
                  <i class="fa  fa-2x fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <img class="card-img-top" src="assets/img/user8-128x128.jpg" alt="Card image cap">
          <img class="card-img-top" src="assets/img/user7-128x128.jpg" alt="Card image cap">

        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-4 col-sm-6 col-xs-12">

        <div class="card">
          <div class="card-block">
            <div class="box-title clearfix">
              <div class="col-lg-3">
                <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="hi" />

                <!-- <span><i class="fa  fa-2x fa-users" aria-hidden="true"></i></span> -->
              </div>
              <div class="col-lg-8">
                <span style="font-size:23px;" class="dept">Department1</span>
              </div>
              <div class="col-lg-1">
                <span>
                  <i class="fa  fa-2x fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <img class="card-img-top" src="assets/img/user8-128x128.jpg" alt="Card image cap">
          <img class="card-img-top" src="assets/img/user7-128x128.jpg" alt="Card image cap">

        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">

        <div class="card">
          <div class="card-block">
            <div class="box-title clearfix">
              <div class="col-lg-3">
                <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="hi" />
                <!-- <span><i class="fa  fa-2x fa-users" aria-hidden="true"></i></span> -->
              </div>
              <div class="col-lg-8">
                <span style="font-size:23px;" class="dept">Department1</span>
              </div>
              <div class="col-lg-1">
                <span>
                  <i class="fa  fa-2x fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <img class="card-img-top" src="assets/img/user8-128x128.jpg" alt="Card image cap">
          <img class="card-img-top" src="assets/img/user7-128x128.jpg" alt="Card image cap">

        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">

        <div class="card">
          <div class="card-block">
            <div class="box-title clearfix">
              <div class="col-lg-3">
                <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="hi" />
                <!-- <span><i class="fa  fa-2x fa-users" aria-hidden="true"></i></span> -->
              </div>
              <div class="col-lg-8">
                <span style="font-size:23px;" class="dept">Department1</span>
              </div>
              <div class="col-lg-1">
                <span>
                  <i class="fa  fa-2x fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <img class="card-img-top" src="assets/img/user8-128x128.jpg" alt="Card image cap">
          <img class="card-img-top" src="assets/img/user7-128x128.jpg" alt="Card image cap">

        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">

        <div class="card">
          <div class="card-block">
            <div class="box-title clearfix">
              <div class="col-lg-3">
                <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="hi" />
                <!-- <span><i class="fa  fa-2x fa-users" aria-hidden="true"></i></span> -->
              </div>
              <div class="col-lg-8">
                <span style="font-size:23px;" class="dept">Department1</span>
              </div>
              <div class="col-lg-1">
                <span>
                  <i class="fa  fa-2x fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <img class="card-img-top" src="assets/img/user8-128x128.jpg" alt="Card image cap">
          <img class="card-img-top" src="assets/img/user7-128x128.jpg" alt="Card image cap">

        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">

        <div class="card">
          <div class="card-block">
            <div class="box-title clearfix">
              <div class="col-lg-3">
                <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="hi" />
                <!-- <span><i class="fa  fa-2x fa-users" aria-hidden="true"></i></span> -->
              </div>
              <div class="col-lg-8">
                <span style="font-size:23px;" class="dept">Department1</span>
              </div>
              <div class="col-lg-1">
                <span>
                  <i class="fa  fa-2x fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <img class="card-img-top" src="assets/img/user8-128x128.jpg" alt="Card image cap">
          <img class="card-img-top" src="assets/img/user7-128x128.jpg" alt="Card image cap">

        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <!-- listview -->


      <!-- listview ends -->


    </div>
  </section>
  <!-- /.content -->
</div>