.wrap{
    margin-left:60px;
}
.clear{
    clear:both;
}
.content .input-field{
    padding: 0 0 12px 0; 
}
.content .input-field > input[type='text'] {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.content .input-field > span > button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.content-header .contents > .right {
    padding-left:0;
}
.content-header .contents > .right > ul > li:last-child{
    font-size:10px;
}
.content-header .contents > .right > ul > li:last-child > a{
    display:block;
}
.content-header .contents > .right > ul > li:last-child > a > i{
    margin:0 !important;
}

.content-header .contents > .right > ul {
    float: right;

    padding: 0;
    list-style: none;
}
.content-header .contents > .right > ul > li{
    display:inline-block;
 padding-right:10px;
    font-size: 20px;
}
.info-box > p > i{
   
    float: right;
    padding: 9px 13px 0px 0;
}
.box-title{
    padding: 10px 0 10px 0;
    
}
.card{
    background: #fff;
    margin-bottom: 20px;
}
.card img {
    width:50%;
}
.card img:nth-child(2){
    float:right;
}

.box-title img{
    width:50px;
}
.box-title .dept{
display:inline-block;
padding-top:12px;
}